
.plox {
	 /* Ruta de la imagen */
	background-size: cover; /* La imagen cubrirá todo el fondo */
	background-position: center; /* Centra la imagen */
 /* Evita que la imagen se repita */
	min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
	display: flex; /* Usa flexbox para centrar el formulario */
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente */
	padding: 20px; /* Opcional: Espaciado interior */
	
	
	
  }

.plox::before {
	content: '';
	position: fixed;
	background-size: cover; /* La imagen cubrirá todo el fondo */
	background-position: center; /* Centra la imagen */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../../public/img/Background\ login.jpg'); /* Hereda el fondo del contenedor */
	
	filter: blur(10px); /* Ajusta el nivel de desenfoque */
	z-index: -1; /* Coloca la capa detrás del contenido */
  }
  

.Logintext {
	margin-top: 20px;
	padding: 10px;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgb(241, 241, 241);
}

.form-label {
    background-color: rgb(2, 2, 2);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #f1eded;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	border: 1px solid #911e31;
	opacity: 0.9;
	font-size: 19px;
	margin-top: 20px;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
  }
  .btn {
	padding: 10px;
  }

  /* Aplica a un contenedor específico */
.login-form-container {
	max-width: 30%;  /* Reduce el ancho al 70% del ancho total de la pantalla (30% menos) */
	margin: 0 auto;  /* Centra el formulario horizontalmente */
  }
  
